/*--- ixla WebEasy Page Style ---*/


.cc27               { /* Common */
	font            : 22pt 'Impact';
	color           : #800000;
	}
.cc28               { /* Common */
	font            : 22pt 'Impact';
	color           : #ff0000;
	}
.cc29               { /* Common */
	border          :   0.00pt solid #800000;
	clip            : rect(0.00pt,865.50pt,3.75pt,0.00pt);
	}
span#e6             { /* jyoutyaku007003.jpg */
	background      : transparent url(jyoutyaku007003.jpg) no-repeat top left;
	position        : absolute;
	left            : 120.00pt;
	top             :   0.00pt;
	width           : 637.50pt;
	height          : 876.75pt;
	}
div#e5              { /* TOP */
	position        : absolute;
	left            : 384.75pt;
	top             : 899.25pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e4              { /* NEXT */
	position        : absolute;
	left            : 462.00pt;
	top             : 900.75pt;
	width           :  52.50pt;
	height          :  27.75pt;
	}
div#e3              { /* BACK */
	position        : absolute;
	left            : 294.00pt;
	top             : 899.25pt;
	width           :  52.50pt;
	height          :  27.00pt;
	}
span#e2             { /* jyoutyaku007002.gif */
	background      : transparent url(jyoutyaku007002.gif) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :  34.50pt;
	width           : 865.50pt;
	height          :   3.75pt;
	}
div#e1              { /* ípêJÇÃèˆíÖèóëï\ */
	background      : transparent url(jyoutyaku007001.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :  17.25pt;
	width           : 141.00pt;
	height          :  38.25pt;
	}
body#page           { /* Page Body */
	background-color: #000124;
	}



/*--- EndOfFile ---*/
