/*--- ixla WebEasy Page Style ---*/


.cc85               { /* Common */
	font            : 22pt 'Impact';
	color           : #800000;
	}
.cc86               { /* Common */
	font            : 22pt 'Impact';
	color           : #ff0000;
	}
.cc87               { /* Common */
	border          :   0.00pt solid #800000;
	clip            : rect(0.00pt,865.50pt,3.75pt,0.00pt);
	}
div#e6              { /* TOP */
	position        : absolute;
	left            : 429.75pt;
	top             : 928.50pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e5              { /* NEXT */
	position        : absolute;
	left            : 507.00pt;
	top             : 930.00pt;
	width           :  52.50pt;
	height          :  27.75pt;
	}
div#e4              { /* BACK */
	position        : absolute;
	left            : 339.00pt;
	top             : 928.50pt;
	width           :  52.50pt;
	height          :  27.00pt;
	}
span#e3             { /* jyoutyaku023003.gif */
	background      : transparent url(jyoutyaku023003.gif) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :  34.50pt;
	width           : 865.50pt;
	height          :   3.75pt;
	}
div#e2              { /* ípêJÇÃèˆíÖèóëï\ */
	background      : transparent url(jyoutyaku023002.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :  17.25pt;
	width           : 141.00pt;
	height          :  38.25pt;
	}
span#e1             { /* jyoutyaku023001.jpg */
	background      : transparent url(jyoutyaku023001.jpg) no-repeat top left;
	position        : absolute;
	left            : 118.50pt;
	top             :  45.00pt;
	width           : 637.50pt;
	height          : 876.75pt;
	}
body#page           { /* Page Body */
	background-color: #000124;
	}



/*--- EndOfFile ---*/
