/*--- ixla WebEasy Page Style ---*/


.cc33               { /* Common */
	font            : 22pt 'Impact';
	color           : #800000;
	}
.cc34               { /* Common */
	font            : 22pt 'Impact';
	color           : #ff0000;
	}
.cc35               { /* Common */
	border          :   0.00pt solid #800000;
	clip            : rect(0.00pt,865.50pt,3.75pt,0.00pt);
	}
span#e6             { /* jyoutyaku009003.jpg */
	background      : transparent url(jyoutyaku009003.jpg) no-repeat top left;
	position        : absolute;
	left            : 132.75pt;
	top             :  33.75pt;
	width           : 624.00pt;
	height          : 872.25pt;
	}
div#e5              { /* TOP */
	position        : absolute;
	left            : 416.25pt;
	top             : 951.00pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e4              { /* NEXT */
	position        : absolute;
	left            : 493.50pt;
	top             : 952.50pt;
	width           :  52.50pt;
	height          :  27.75pt;
	}
div#e3              { /* BACK */
	position        : absolute;
	left            : 325.50pt;
	top             : 951.00pt;
	width           :  52.50pt;
	height          :  27.00pt;
	}
span#e2             { /* jyoutyaku009002.gif */
	background      : transparent url(jyoutyaku009002.gif) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :  34.50pt;
	width           : 865.50pt;
	height          :   3.75pt;
	}
div#e1              { /* ípêJÇÃèˆíÖèóëï\ */
	background      : transparent url(jyoutyaku009001.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :  17.25pt;
	width           : 141.00pt;
	height          :  38.25pt;
	}
body#page           { /* Page Body */
	background-color: #000124;
	}



/*--- EndOfFile ---*/
