/*--- ixla WebEasy Page Style ---*/


.cc100              { /* Common */
	border          :   0.00pt solid #800000;
	clip            : rect(0.00pt,865.50pt,3.75pt,0.00pt);
	}
.cc101              { /* Common */
	border          :   0.00pt solid #010015;
	}
.cc98               { /* Common */
	font            : 22pt 'Impact';
	color           : #800000;
	}
.cc99               { /* Common */
	font            : 22pt 'Impact';
	color           : #ff0000;
	}
div#e7              { /* TOP */
	position        : absolute;
	left            : 416.25pt;
	top             : 948.75pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e6              { /* NEXT */
	position        : absolute;
	left            : 493.50pt;
	top             : 950.25pt;
	width           :  52.50pt;
	height          :  27.75pt;
	}
div#e5              { /* BACK */
	position        : absolute;
	left            : 325.50pt;
	top             : 948.75pt;
	width           :  52.50pt;
	height          :  27.00pt;
	}
span#e4             { /* jyoutyaku027004.gif */
	background      : transparent url(jyoutyaku027004.gif) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :  34.50pt;
	width           : 865.50pt;
	height          :   3.75pt;
	}
div#e3              { /* ípêJÇÃèˆíÖèóëï\ */
	background      : transparent url(jyoutyaku027003.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :  17.25pt;
	width           : 141.00pt;
	height          :  38.25pt;
	}
span#e2             { /* jyoutyaku027002.jpg */
	background      : transparent url(jyoutyaku027002.jpg) no-repeat top left;
	position        : absolute;
	left            : 112.50pt;
	top             :  45.75pt;
	width           : 637.50pt;
	height          : 876.75pt;
	}
span#e1             { /* jyoutyaku027001.gif */
	background      : transparent url(jyoutyaku027001.gif) no-repeat top left;
	position        : absolute;
	left            : 745.50pt;
	top             : 329.25pt;
	width           :   7.50pt;
	height          :  68.25pt;
	}
body#page           { /* Page Body */
	background-color: #000124;
	}



/*--- EndOfFile ---*/
