/*--- ixla WebEasy Page Style ---*/


.cc88               { /* Common */
	font            : 22pt 'Impact';
	color           : #800000;
	}
.cc89               { /* Common */
	font            : 22pt 'Impact';
	color           : #ff0000;
	}
.cc90               { /* Common */
	border          :   0.00pt solid #800000;
	clip            : rect(0.00pt,865.50pt,3.75pt,0.00pt);
	}
.cc91               { /* Common */
	border          :   0.00pt solid #000033;
	}
span#e7             { /* jyoutyaku024004.jpg */
	background      : transparent url(jyoutyaku024004.jpg) no-repeat top left;
	position        : absolute;
	left            : 109.50pt;
	top             :  36.00pt;
	width           : 637.50pt;
	height          : 876.75pt;
	}
div#e6              { /* TOP */
	position        : absolute;
	left            : 425.25pt;
	top             : 957.75pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e5              { /* NEXT */
	position        : absolute;
	left            : 502.50pt;
	top             : 959.25pt;
	width           :  52.50pt;
	height          :  27.75pt;
	}
div#e4              { /* BACK */
	position        : absolute;
	left            : 334.50pt;
	top             : 957.75pt;
	width           :  52.50pt;
	height          :  27.00pt;
	}
span#e3             { /* jyoutyaku024003.gif */
	background      : transparent url(jyoutyaku024003.gif) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :  34.50pt;
	width           : 865.50pt;
	height          :   3.75pt;
	}
div#e2              { /* ípêJÇÃèˆíÖèóëï\ */
	background      : transparent url(jyoutyaku024002.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :  17.25pt;
	width           : 141.00pt;
	height          :  38.25pt;
	}
span#e1             { /* jyoutyaku024001.gif */
	background      : transparent url(jyoutyaku024001.gif) no-repeat top left;
	position        : absolute;
	left            : 742.50pt;
	top             :  70.50pt;
	width           :   5.25pt;
	height          : 265.50pt;
	}
body#page           { /* Page Body */
	background-color: #000124;
	}



/*--- EndOfFile ---*/
