/*--- ixla WebEasy Page Style ---*/


.cc81               { /* Common */
	font            : 22pt 'Impact';
	color           : #800000;
	}
.cc82               { /* Common */
	font            : 22pt 'Impact';
	color           : #ff0000;
	}
.cc83               { /* Common */
	border          :   0.00pt solid #800000;
	clip            : rect(0.00pt,865.50pt,3.75pt,0.00pt);
	}
.cc84               { /* Common */
	border          :   0.00pt solid #000124;
	}
div#e7              { /* TOP */
	position        : absolute;
	left            : 420.75pt;
	top             : 964.50pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e6              { /* NEXT */
	position        : absolute;
	left            : 498.00pt;
	top             : 966.00pt;
	width           :  52.50pt;
	height          :  27.75pt;
	}
div#e5              { /* BACK */
	position        : absolute;
	left            : 330.00pt;
	top             : 964.50pt;
	width           :  52.50pt;
	height          :  27.00pt;
	}
span#e4             { /* jyoutyaku022004.gif */
	background      : transparent url(jyoutyaku022004.gif) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :  34.50pt;
	width           : 865.50pt;
	height          :   3.75pt;
	}
div#e3              { /* ípêJÇÃèˆíÖèóëï\ */
	background      : transparent url(jyoutyaku022003.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :  17.25pt;
	width           : 141.00pt;
	height          :  38.25pt;
	}
span#e2             { /* jyoutyaku022002.jpg */
	background      : transparent url(jyoutyaku022002.jpg) no-repeat top left;
	position        : absolute;
	left            : 130.50pt;
	top             :  45.00pt;
	width           : 637.50pt;
	height          : 876.75pt;
	}
span#e1             { /* jyoutyaku022001.gif */
	background      : transparent url(jyoutyaku022001.gif) no-repeat top left;
	position        : absolute;
	left            : 763.50pt;
	top             :  45.75pt;
	width           :  10.50pt;
	height          : 623.25pt;
	}
body#page           { /* Page Body */
	background-color: #000124;
	}



/*--- EndOfFile ---*/
