/*--- ixla WebEasy Page Style ---*/


.cc18               { /* Common */
	font            : 22pt 'Impact';
	color           : #800000;
	}
.cc19               { /* Common */
	font            : 22pt 'Impact';
	color           : #ff0000;
	}
.cc20               { /* Common */
	border          :   0.00pt solid #800000;
	clip            : rect(0.00pt,865.50pt,3.75pt,0.00pt);
	}
.cc21               { /* Common */
	border          :   0.00pt solid #000024;
	clip            : rect(0.00pt,652.50pt,15.00pt,0.00pt);
	}
div#e7              { /* TOP */
	position        : absolute;
	left            : 386.25pt;
	top             : 942.00pt;
	width           :  52.50pt;
	height          :  30.75pt;
	}
div#e6              { /* NEXT */
	position        : absolute;
	left            : 463.50pt;
	top             : 943.50pt;
	width           :  52.50pt;
	height          :  27.75pt;
	}
div#e5              { /* BACK */
	position        : absolute;
	left            : 295.50pt;
	top             : 942.00pt;
	width           :  52.50pt;
	height          :  27.00pt;
	}
span#e4             { /* jyoutyaku005004.gif */
	background      : transparent url(jyoutyaku005004.gif) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :  34.50pt;
	width           : 865.50pt;
	height          :   3.75pt;
	}
div#e3              { /* ípêJÇÃèˆíÖèóëï\ */
	background      : transparent url(jyoutyaku005003.jpg) no-repeat top left;
	position        : absolute;
	left            :   5.25pt;
	top             :  17.25pt;
	width           : 141.00pt;
	height          :  38.25pt;
	}
span#e2             { /* jyoutyaku005002.jpg */
	background      : transparent url(jyoutyaku005002.jpg) no-repeat top left;
	position        : absolute;
	left            : 118.50pt;
	top             :  48.75pt;
	width           : 637.50pt;
	height          : 876.75pt;
	}
span#e1             { /* jyoutyaku005001.gif */
	background      : transparent url(jyoutyaku005001.gif) no-repeat top left;
	position        : absolute;
	left            : 114.75pt;
	top             :  45.75pt;
	width           : 652.50pt;
	height          :  15.00pt;
	}
body#page           { /* Page Body */
	background-color: #000124;
	}



/*--- EndOfFile ---*/
